body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: antiquewhite;
}

/* NavBar */
#site-navbar {
  background-color: maroon;
}
.nav-container {
  padding: 0 70px;
}
.navbar-brand {
  font-weight: bold;
  font-size: 25px;
}

.nav-link {
  font-weight: 300;
  font-size: 20px;
}

.navbar-brand,
.nav-link {
  color: #ffff;
  margin: 30px 15px;
}

.navbar-brand:hover,
.nav-link:hover,
.navbar-brand:visited,
.nav-link:visited {
  color: #ffff !important;
}

/* Main Content */
.main-content {
  width: 50%;
  margin-top: 40px;
}

/* Route Details */
.route-details {
  width: 50%;
  margin: 100px auto 10px;
}

.route-details > h1 {
  text-align: center;
}

.route-particulars {
  display: flex;
  justify-content: space-between;
}

.gp-item {
  display: flex;
  justify-content: space-between;
}

.gp-item > p {
  margin-top: 0;
  margin-bottom: 0;
}

.route-card {
  margin: 20px auto;
}
